<link rel="stylesheet" href="css/home.css">

<div id="home" class="container-fluid">
	<div id="homeHeader" class="container-fluid">
		<h1>Soichi Tanabe</h1>
		<h3>Informatics Student at University of Washington</h3>
	</div>

	<div id="homeLinks" class="container-fluid">
		<a href="/files/resume.docx" download>Resume</a>
		<a href="https://www.linkedin.com/in/soichit" target="_blank">LinkedIn</a>
		<a href="https://www.youtube.com/user/Ohmmmmmful" target="_blank">YouTube</a>		
	</div>

	<div id="homeHobbies" class="container-fluid">
		<h3>Interests</h3>
		Web Dev
		Mobile App Dev
		Film Editing
		Photoshop

		Psychology
		Thinking
		Puzzles
		Progress
		
		Self-development
		Fitness
		Soccer Freestyle
		Traveling
	</div>
</div>
